---
import "../styles/global.css";
// Component Imports
//import Button from "../components/Button.astro";
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/ModeToggle";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astroo</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <Button>Tailwind Button in Astro!</Button>
      <Button>Button</Button>
      <h1>Tes H1</h1>
      <h2>Tes H2</h2>
      <h3>Tes H3</h3>
      <h4>Tes H4</h4>
      <h5>Tes H5</h5>
      <h6>Tes H6</h6>
      <p>para</p>
      <a href="/">tes link</a>
      <ModeToggle client:load />
      <a href="/markdown-page" class="p-4 underline"
        >Markdown is also supported...</a
      >
    </div>
  </body>
</html>
